
#result {
    font-size: 40px;
    text-align: center;
    margin-top: 5em;
}
#counter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 3em; 
}  
#addButton, #subButton {
    width: 10em;
    height: 10em;
    /* color: grey; */
    font-size: 1em;
}
#addButton {
    color:cornflowerblue; 
}
#subButton {
    color:crimson;
}
span {
    font-size: 3em;
}
 #userNumber   {   
    border: 3px solid black;
    width: 180px;
    height: 112px;
    margin: 2em;
    text-align: center;
}


    
